/*-- scss:defaults --*/

// import google fonts


// @import url("https://fonts.googleapis.com/css2?family=EB+Garamond");
// @import url("https://fonts.googleapis.com/css2?family=Commissioner");

$primary: #002676;
$secondary: #941120;
$tertiary: #f9c80e;
$fourth-colour: #45ba6c;

// $font-family-sans-serif:  "Commissioner", "Source Sans Pro", Helvetica, sans-serif, !default;
// $presentation-font-size-root: 40px;
$body-bg: #fefefe;
$presentation-heading-color: $primary;
$presentation-font-size-root: 36px;

$link-color: $secondary;
$callout-color-note: $primary;
$callout-color-tip: $fourth-colour;
$callout-color-important: $secondary;
$callout-color-caution: $tertiary;

$code-block-font-size: .65em;

/*-- scss:rules --*/

.primary {color: $secondary;}
.secondary {color: $tertiary;}
.tertiary {color: $primary;}
.fourth-colour {color: $fourth-colour;}
.fstyle {
  color: "#bcbcbc";
  font-size: 0.75em;
}
.small {
  font-size: 0.75em;
}


.reveal .slides section div.callout {
  font-size: 1em;
}

//.reveal .callout.callout-style-simple .callout-body,
//.reveal .callout.callout-style-default .callout-body,
//.reveal .callout.callout-style-simple div.callout-title,
//.reveal .callout.callout-style-default div.callout-title {
//  font-size: 1.2em;
//}

.reveal .callout.callout-style-default .callout-icon::before,
.reveal .callout.callout-style-simple .callout-icon::before {
  height: 2.5rem;
  width: 2.5rem;
  background-size: 2.5rem 2.5rem;
}

.reveal .callout.callout-titled .callout-icon::before {
  margin-top: 1.75rem;
}

.reveal div.sourceCode {
  margin-bottom: 10px !important;
}


// .reveal pre code {
//  border-style: solid;
//  border-color: $code-block-border-color;
//  border-width: 1px;
//  border-radius: .5;
//}


ol {
  padding-left: 0.5em;
}


ul {
 	list-style: none; /* Remove default bullets */
}


ul li::marker {
	color: $primary;
}

dt {
  color: $secondary;
}

dd {
  padding-bottom: .5em;
}





.reveal code {
  color: #1E90FF;
}

.scrollable-output {
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;  /* Enables vertical scrolling */
}

.inner-list {
  font-size: 0.85em; /* Adjust size as needed */
}
