/*-- scss:defaults --*/

// import google fonts


// @import url("https://fonts.googleapis.com/css2?family=EB+Garamond");
// @import url("https://fonts.googleapis.com/css2?family=Commissioner");

$primary: #002676;
$secondary: #941120;
$tertiary: #f9c80e;
$fourth-colour: #45ba6c;

// $font-family-sans-serif:  "Commissioner", "Source Sans Pro", Helvetica, sans-serif, !default;
// $presentation-font-size-root: 40px;
$body-bg: #fefefe;
$presentation-heading-color: $primary;
$presentation-font-size-root: 36px;

$link-color: $secondary;

/*-- scss:rules --*/

.primary {color: $secondary;}
.secondary {color: $tertiary;}
.tertiary {color: $primary;}
.fourth-colour {color: $fourth-colour;}

.reveal code {
  color: #1E90FF;
}
