/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Source+Serif+Pro';

$headings-color: #002676;
$primary: #941120;
$secondary: #8C338F;
$danger: #C41230;
$body-bg: rgb(255,255,255,.8);
$link-color: $primary;
$navbar-fg: $headings-color;
$navbar-bg: rgb(255,255,255,.8);
$footer-bg: rgb(255,255,255,.8);
$footer-fg: $headings-color;


$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: "Source Serif Pro",Times,serif, !default;


/*-- scss:rules --*/

.navbar {
  border-bottom: 2px solid $headings-color;
  font-family: $font-family-serif;
}

.mr-big {
  margin-right: ($spacer * 6) !important;
}

.ml-big {
  margin-left: ($spacer * 6) !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-family: $font-family-serif;
}

footer {
  border-top: 2px solid $headings-color;
  margin: 0 0 1rem 0;
  padding-top: 1rem;
}

